<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cnpaypal.home" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- 在应用市场上只有存在相机的设备才看看到这个应用-->
    <uses-feature android:name="android.hardware.camera"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.cnpaypal.async.ListViewMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.cnpaypal.fragment.FragmentMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.cnpaypal.loading.LeafLoadingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.cnpaypal.animation.LayoutChange"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.cnpaypal.animation.AnimationMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.cnpaypal.animation.ObjectAnimatorActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.cnpaypal.recyclerView.RecyclerListViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.cnpaypal.recyclerView.RecyclerGridViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.cnpaypal.recyclerView.RecycleMultipleItemActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity android:name="com.cnpaypal.ObservableScrollView.ScrollStickyActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.cnpaypal.ObservableScrollView.ObservableScrollViewActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.cnpaypal.ObservableScrollView.ParallaxToolbarScrollViewActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.cnpaypal.BlurEffect.BlurEffectMainActivity"/>

        <activity android:name="com.cnpaypal.activity.CustomExpiredActivity"/>

        <activity android:name="com.cnpaypal.activity.VelocimeterActivity"/>

        <activity android:name="com.cnpaypal.StickyNavLayout.StickyNavLayoutActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>

        <activity android:name="cirmellntent.activity.CrimeActivity"/>

        <activity android:name="cirmellntent.activity.CrimeListActivity"/>

        <activity android:name="cirmellntent.activity.CrimePagerActivity"/>

        <activity
            android:name="cirmellntent.activity.CrimeCameraActivity"
            />
    </application>

</manifest>
